<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Not Found - Halaman Tidak Ditemukan</title>
	<link href="/error/css/font-error.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/error/css/font-awesome.min.css"/>
	<link type="text/css" rel="stylesheet" href="/error/css/style.css"/>
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Page Not Found</h2>
			<p>"Barangsiapa yang mengerjakan kejahatan, niscaya akan diberi pembalasan dengan kejahatan itu
dan ia tidak mendapat pelindung dan tidak (pula) penolong baginya selain dari Allah." <br><br><b style="color:red">(QS:An-Nisaa | Ayat: 123)</b></p>
			<div class="notfound-social">
				<a href="http://api.achapedia.com/"><i class="fa fa-home"></i></a>
				<a href="https://www.facebook.com/zefian.zefian.98/"><i class="fa fa-facebook"></i></a>
				<a href="https://www.instagram.com/zefianalfian/"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-envelope"></i></a>
			</div>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
