<!DOCTYPE html>
<html>
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home - Z-RAPI</title>
    <meta name="description" content="Free Rest API">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="shortcut icon" href="img/logo.png">
  </head>
  <body>
    <header class="header">   
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div class="search-inner d-flex align-items-center justify-content-center">
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
            </form>
          </div>
        </div>
				
        <div class="container-fluid d-flex align-items-center justify-content-between">
          <div class="navbar-header">
             <a href="/" class="navbar-brand">
              <div class="brand-text brand-sm"><strong class="text-primary">Z</strong><strong>R</strong></div></a>

            <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
          </div>
       
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">

      <nav id="sidebar">
		    
        <div class="sidebar-header d-flex align-items-center">
          <img src="/img/about.jpg" alt="..." class="img-fluid rounded-circle">
        </div>

        <ul class="list-unstyled">
          <li class="active"><a href="/"> <i class="icon-home"></i>Home </a></li>
          <li><a href="/doc/igdown"> <i class="icon-layers"></i>Instagram Download </a></li>
	  <li><a href="/doc/igstalk"> <i class="icon-layers"></i>Instagram Stalker</a></li>
	  <li><a href="/doc/ttdown-nowm"> <i class="icon-layers"></i>TikTok Download No Wm</a></li>
          <li><a href="/doc/ttstalk"> <i class="icon-layers"></i>TikTok Stalk</a></li>
	  <li><a href="/doc/randomquote"> <i class="icon-layers"></i>Random Quote</a></li>
	  <li><a href="/doc/texttoimg"> <i class="icon-layers"></i>Text To Image</a></li>
  <li><a href="/doc/covid"> <i class="icon-layers"></i>Covid19</a></li>				 				      
          <li><a href="/about"> <i class="icon-info"></i>About</a></li>
        </ul>               
      </nav>
      <div class="page-content">
	<br><br>
        <section class="no-padding-top no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="statistic-block block">
                    <div class="title">
		      <b style="color:white;">Terakhir Update : 28 Januari 2021</b>
                    </div>
                </div>
            </div>
    
	    <div class="col-md-12 col-sm-12">
                <div class="statistic-block block">
                  <div class="progress-details d-flex align-items-end justify-content-between">
                    <div class="title">
                      <div class="icon"><i class="icon-layers"></i></div><strong>Total RestApi</strong>
                    </div>
                    <div id='jum_pesan' class="number dashtext-4">7</div>
                  </div>
                  <div class="progress progress-template">
                    <div role="progressbar" style="width: 100%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
                  </div>
                </div>
              </div>


	    <div class="col-md-12 col-sm-12">
              <div class="statistic-block block">
                <p style='color:gold;'>Selamat Datang</p>
                <hr>
                <p style="text-align:center;"> <img src="img/wel.png" class="img-fluid" style="width:25rem;">
                <p>Z-RAPI adalah sebuah website yang menyediakan restapi dan dapat diakses oleh siapapun secara gratis. Semoga restapi ini bermanfaat untuk teman-teman developer.</p >
              </div>
            </div>
	
            </div> 
          </div>
        </section>
     
        <footer class="footer">
          <div class="footer__block block no-margin-bottom">
            <div class="container-fluid text-center">
	      <small class="no-margin-bottom">Made with <i  style="color:red;" class="fa fa-heart"></i> by ZefianAlfian & Ricko Veriyanto <br> copyright &copy; 2020</small>
            </div>
          </div>
        </footer>
      </div>
    </div>
	         	 
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/js/charts-home.js"></script>
    <script src="/js/front.js"></script>
  </body>
</html>