<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="csrf-token"
      content="j9OecaOHRAYJ8XYlkWqKW1fGQOHPlwUFCv4L2IUW"
    />
    <title>ZRAPi | Free Rest APi</title>
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      name="viewport"
    />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://localhost:3000" />
    <meta property="og:title" content="Home" />
    <meta property="og:description" content="ZRAPi | Free Rest APi" />
    <meta
      property="og:image"
      content="http://public-restapi.herokuapp.com/assets/images/app/apple-touch-icon-323092.jpg"
    />
    <meta property="og:site_name" content="ZRAPi | Free Rest APi" />
    <meta property="twitter:card" content="summary" />
    <link
      rel="stylesheet"
      href="/assets/admin/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/admin/dist/css/skins/_all-skins.min.css"
    />
    <link rel="stylesheet" href="/assets/admin/dist/css/AdminLTE.min.css" />
    <style>
      ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
      }
      ::-webkit-scrollbar-track {
        background: transparent;
      }
      ::-webkit-scrollbar-thumb {
        background: #aaa;
        border-radius: 999px;
      }
      ::-webkit-scrollbar-thumb:hover {
        background: #4091d4;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .social___ ul li {
        display: inline;
        margin-right: 10px;
      }
      .social___ ul li a {
        background-color: #6a92ff;
        border-radius: 50%;
        padding: 3px;
      }
      .social___ ul li a i {
        color: white;
      }
    </style>
  </head>